# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Jupyter Notebooks
.ipynb_checkpoints

# Data (Optional: usually we don't commit large raw data)
data/raw/
data/processed/

# IDEs
.vscode/
.idea/
